<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
<h2>Create User</h2>

<form th:action="@{/api/users}" method="post" th:object="${user}">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" placeholder="Name">
    </div>

    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" placeholder="Username">
    </div>

    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" placeholder="Password">
    </div>

    <div>
        <p>Roles:</p>

        <div th:each="role : ${roles}">
            <label>
                <input type="checkbox" th:field="*{roleIds}" th:value="${role.id}">
                <span th:text="${role.name}"></span>
            </label>
        </div>
    </div>

    <button type="submit">Create User</button>
</form>
</body>
</html>