<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>

<div th:each="user : ${users}" th:object="${user}">
    <p><b>Name:</b> <span th:text="*{name}"></span></p>
    <p><b>Username:</b> <span th:text="*{username}"></span></p>

    <p><b>Roles:</b></p>
    <ul>
        <li th:each="userRole : *{roles}" th:text="${userRole.role.name}"></li>
    </ul>

    <hr>
</div>
</body>
</html>